body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;

    margin: 8px 8px 8px 40px;
    background-color: #1c2936;
    color: #bbb;
}

#page_top, #page_bottom {
    display: none;
}

.right_align {
    float: right;
}

#menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 100%;

    border-right: 1px solid #324b63;

    background-color: #192530;
}

#notification_list {
    position: fixed;
    top: 4px;
    right: 4px;
}

.post, .notification {
    border: 1px solid #324b63;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 6px 3px 6px;

    background-color: #192530;
}

.post_header {
    border-bottom: 1px solid #324b63;
    padding-bottom: 2px;
}

.post_op {
    color: #0ba00b;
}

.post_sage {
    color: #a00b0b;
}

.post_content {
    width: 100%;
    word-wrap: break-word;
}

.message_bytes_good {
    color: #0ba00b;
}

.message_bytes_bad {
    color: #a00b0b;
}

a {
    color: #0ba00b;
}
