<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.splendid.textchange.js"></script>
    <script type="text/javascript" src="/static/js/elephant7.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/elephant7.css"/>
</head>
<body>
<a name="page_top"></a>
<div id="central_content" style="margin-left: 149px">
<div th:replace="templates :: header"></div>
<div th:replace="templates :: postForm (${'/' + boardCode + '/post'}, true)"></div>
<div th:replace="templates :: threadList (${threads}, true)"></div>
<div class="paginator" th:if="${pages > 1}">
    <th:block th:each="page: ${#numbers.sequence(0, pages - 1)}">
        <span th:if="${page == currentPage}" th:text="${'[' + page + ']'} "></span>
        <a th:if="${page != currentPage}"
           th:href="@{${'/' + boardCode + '?page=' + page}}" th:text="${'[' + page + ']'} "></a>
    </th:block>
</div>
</div>
<div th:replace="templates :: menu(true)"></div>
<div id="notification_list"></div>
<a name="page_bottom"></a>
</body>
</html>
