<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.splendid.textchange.js"></script>
    <script type="text/javascript" src="/static/js/karaka.js"></script>
</head>
<body>
<div th:replace="templates :: header"></div>
<div th:replace="templates :: postForm (${'/' + boardCode + '/post'}, true)"></div>
<div th:replace="templates :: postList (${threads}, true)"></div>
<div class="paginator" th:if="${pages > 1}">
    <th:block th:each="page: ${#numbers.sequence(0, pages - 1)}">
        <span th:if="${page == currentPage}" th:text="${'[' + page + ']'} "></span>
        <a th:if="${page != currentPage}"
           th:href="@{${'/' + boardCode + '?page=' + page}}" th:text="${'[' + page + ']'} "></a>
    </th:block>
</div>
<div><a th:href="@{/}" th:text="#{karaka.back}"></a></div>
</body>
</html>
