<!DOCTYPE html>
<html>
<head></head>
<body>
<div th:fragment="header">
    <div class="block">
        <span class="greeting" th:text="#{karaka.greeting}"></span>
        <span class="right_align" th:text="#{karaka.settings}"></span>
    </div>
</div>
<div id="post_list" th:fragment="postList (posts, isThreadList)">
    <div class="post" th:each="post,i: ${posts}" th:id="${post.postId}">
        <div class="post_header" th:with="link=${isThreadList}? ${#httpServletRequest.requestURI +
        (#strings.endsWith(#httpServletRequest.requestURI, '/')? '' : '/') + post.threadId} : ${'#' + post.postId}">
            <a th:href="@{${link}}" class="post_id" th:text="${'#' + post.postId}"></a> |
            <th:block th:if="${not isThreadList}"><span class="post_number" th:text="${i.count}"></span> |</th:block>
            <span class="post_timestamp" th:text="${#calendars.format(post.timestamp, 'dd.MM.YYYY, HH:mm:ss')}"></span> |
            <span th:class="${#strings.equals(post.type, 'OP')}? 'post_op' :
            (${#strings.equals(post.type, 'SAGE')}? 'post_sage' : 'post_normal')" th:text="${post.name}"></span>
        </div>
        <div class="post_content">
            <th:block th:each="line,i: ${#strings.arraySplit(post.message, T(java.lang.System).getProperty('line.separator'))}">
                <th:block th:text="${line}"></th:block><br th:if="${not i.last}"/>
            </th:block>
        </div>
    </div>
</div>
<th:block th:fragment="postForm (postLink, newThread)">
    <form id="post_form" th:action="@{${postLink}}" method="post" accept-charset="utf-8" th:inline="text">
        <input type="hidden" id="new_thread" th:if="${newThread}"/>
        <th:block th:if="${not newThread}">
            <input type="radio" name="type" value="NORMAL" checked="checked"/>[[#{karaka.post.type.normal}]]
            <input type="radio" name="type" value="OP"/>[[#{karaka.post.type.op}]]
            <input type="radio" name="type" value="SAGE"/>[[#{karaka.post.type.sage}]]<br/>
        </th:block>
        <input type="text" id="post_name" name="name" th:maxlength="${T(ru.dyatel.karaka.util.Reference).MAX_NAME_LENGTH}"/><br/>
        <textarea id="post_message" name="message" th:maxlength="${T(ru.dyatel.karaka.util.Reference).MAX_MESSAGE_BYTE_LENGTH / 4}"></textarea><br/>
        <span id="post_message_byte_counter" class="message_bytes_good" hidden="true"></span><br/>
        <input type="submit" id="post_send" th:value="#{karaka.send}"/>
    </form>
</th:block>
</body>
</html>
