<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div id="menu" th:fragment="menu (isThreadList)">
    <a href="/"><span class="welcomefriend" th:text="#{elephant.seven.arrow-home}"></span></a><br/>
    <th:block th:if="${not isThreadList}">
        <a th:href="${'/' + boardCode}"><span class="welcomefriend" th:text="#{elephant.seven.arrow-left}"></span></a>
        <a th:href="${#httpServletRequest.requestURI}" id="thread_update"><span class="welcomefriend" th:text="#{elephant.seven.arrow-refresh}"></span></a>
    </th:block>
    <a href="#page_top" id="page_top_button"><span class="welcomefriend" th:text="#{elephant.seven.arrow-up}"></span></a><br/>
    <a href="#page_bottom" id="page_bottom_button"><span class="welcomefriend" th:text="#{elephant.seven.arrow-down}"></span></a>
</div>
<div th:fragment="header">
    <div class="block">
        <span class="welcomefriend" th:text="#{elephant.seven.greeting}"></span>
    </div>
    <div class="block" th:each="section: ${sections}">
        <span class="board_section_title" th:text="${section.title}"></span>
        [
        <th:block th:each="board,status: ${section.boards}" th:if="${#maps.containsKey(boards, board)}">
            <th:block th:if="${not status.first}">, </th:block>
            <a th:href="${'/' + board}" th:title="${boards[__${board}__].description}" th:text="${'/' + board + '/'}"></a>
        </th:block>
        ]
    </div>
</div>
<div id="post_list" th:fragment="postList (posts, isThreadList)">
    <div class="post" th:each="post,i: ${posts}" th:id="${post.postId}">
        <div class="post_header" th:with="link=${isThreadList}? ${#httpServletRequest.requestURI +
        (#strings.endsWith(#httpServletRequest.requestURI, '/')? '' : '/') + post.threadId} : ${'#' + post.postId}">
            <a th:href="@{${link}}" class="post_id" th:text="${'#' + post.postId}"></a> |
            <th:block th:if="${not isThreadList}"><span class="post_number" th:text="${i.count}"></span> |</th:block>
            <span class="post_timestamp" th:text="${#calendars.format(post.timestamp, 'dd.MM.YYYY, HH:mm:ss')}"></span> |
            <span th:class="${#strings.equals(post.type, 'OP')}? 'post_op' :
            (${#strings.equals(post.type, 'SAGE')}? 'post_sage' : 'post_normal')" th:text="${post.name}"></span>
        </div>
        <div class="post_content">
            <th:block th:each="line,i: ${#strings.arraySplit(post.message, T(java.lang.System).getProperty('line.separator'))}">
                <th:block th:text="${line}"></th:block><br th:if="${not i.last}"/>
            </th:block>
        </div>
        <!-- reply stub hyreplink -->
        <a th:href="testtest" class="post_id" th:text="Reply"></a>
    </div>
</div>
<div id="thread_list" th:fragment="threadList (posts, isThreadList)">
    <div class="thread-list" th:each="post,i: ${posts}" th:id="${post.postId}">
        <div class="post_header" th:with="link=${isThreadList}? ${#httpServletRequest.requestURI +
        (#strings.endsWith(#httpServletRequest.requestURI, '/')? '' : '/') + post.threadId} : ${'#' + post.postId}">
            <a th:href="@{${link}}" class="post_id" th:text="${'#' + post.postId}"></a> |
            <th:block th:if="${not isThreadList}"><span class="post_number" th:text="${i.count}"></span> |</th:block>
            <span class="post_timestamp" th:text="${#calendars.format(post.timestamp, 'dd.MM.YYYY, HH:mm:ss')}"></span> |
            <span th:class="${#strings.equals(post.type, 'OP')}? 'post_op' :
            (${#strings.equals(post.type, 'SAGE')}? 'post_sage' : 'post_normal')" th:text="${post.name}"></span>
        </div>
        <div class="post_content">
            <th:block th:each="line,i: ${#strings.arraySplit(post.message, T(java.lang.System).getProperty('line.separator'))}">
                <th:block th:text="${line}"></th:block><br th:if="${not i.last}"/>
            </th:block>
        </div>
    </div>
</div>
<th:block th:fragment="postForm (postLink, newThread)">
    <form id="post_form" th:action="@{${postLink}}" method="post" accept-charset="utf-8" th:inline="text">
        <input type="hidden" id="new_thread" th:if="${newThread}"/>
        <th:block th:if="${not newThread}">
            <input type="radio" name="type" value="NORMAL" checked="checked"/>[[#{elephant.seven.post.type.normal}]]
            <input type="radio" name="type" value="OP"/>[[#{elephant.seven.post.type.op}]]
            <input type="radio" name="type" value="SAGE"/>[[#{elephant.seven.post.type.sage}]]<br/>
        </th:block>
        <input type="text" id="post_name" name="name" th:maxlength="${T(com.elephant.seven.util.Reference).MAX_NAME_LENGTH}"/><br/>
        <textarea id="post_message" name="message" th:maxlength="${T(com.elephant.seven.util.Reference).MAX_MESSAGE_BYTE_LENGTH / 4}"></textarea><br/>
        <span id="post_message_byte_counter" class="message_bytes_good" hidden="true"></span><br/>
        <input class="send" type="submit" id="post_send" th:value="#{elephant.seven.send}"/>
    </form>
</th:block>
</body>
</html>
