<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.splendid.textchange.js"></script>
    <script type="text/javascript" src="/static/js/date.format.js"></script>
    <script type="text/javascript" src="/static/js/karaka.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/karaka.css"/>
</head>
<body>
<div th:replace="templates :: header"></div>
<div th:replace="templates :: postList (${posts}, false)"></div>
<div>
    <a th:href="@{${'/' + boardCode}}" th:text="#{karaka.back}"></a>
    <a th:href="@{${#httpServletRequest.requestURI}}" id="thread_update" th:text="#{karaka.update}"></a>
    <span id="thread_autoupdate" hidden="true" th:inline="text">
        <input type="checkbox" id="thread_autoupdate_checkbox"/>
        [[#{karaka.autoupdate}]]
        <span id="thread_autoupdate_notifier"></span>
    </span>
</div>
<div th:replace="templates :: postForm (${'/' + boardCode + '/' + threadId + '/post'}, false)"></div>
</body>
</html>
