body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.9em;

    margin: 8px 8px 8px 40px;
    background-color: #EEEEEE;
    color: #333333;
}

#page_top, #page_bottom {
    display: none;
}

.right_align {
    float: right;
}

#menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 145px;
    height: 100%;
    border-right: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    margin: 8px 8px 8px 20px;
    line-height: 17pt
}

#notification_list {
    position: fixed;
    top: 4px;
    right: 4px;
}

.thread-list {

    width: 70%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 6px 3px 6px;

    background-color: #DDDDDD;
}

.post {
    width: 42%;
    border: 1px solid #324b63;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 6px 3px 6px;

    background-color: #DDDDDD;
}

.send {
    padding: 2px 6px;
    border: 1px solid #CACACA;
    background: #EAEAEA;
}

.notification {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px 6px 3px 6px;

    background-color: #DDDDDD;
}

.post_header {
    padding-bottom: 2px;
}

.post_op {
    color: #FF6600;
}

.post_sage {
    color: #a00b0b;
}

.post_content {
    width: 100%;
    word-wrap: break-word;
}

.message_bytes_good {
    color: #FF6600;
}

.message_bytes_bad {
    color: #a00b0b;
}

a {
    color: #FF6600;
}
